@font-face {
    font-family: got;
    src: url("./Game\ of\ Thrones.ttf");
  }
body{
    padding: 10px;
}

h1,h3{
    margin-top: 30px;
    font-family: got;
    letter-spacing: 1px;
    color: #331C0E;
}


#container{
    width: 90%;
    max-width: 1200px;

    position: absolute;
    left: 0;
    right: 0;
    margin: 60px auto;

    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}
.card{
    height: 400px;
    cursor: pointer;
    &:hover{
        transform: scale(.95);
    }
    &:active{
        transform: scale(.9);
    }
    img{
        height: 300px;
        object-fit:cover;
    }
}
.modal-body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img{
        height: 100vh;
        max-height: 320px;
        object-fit: cover;
        background-color: #000;
        border-radius: 4px;
    }
}

#search{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
#search-inp{
    max-width: 700px;
}

.shadow{
    color: #efefef;
    img{
        width: 100%;
        height: 200px;
        background: #efefef;
        
    }

     
    .card-title, .badge{
        background: #efefef;
        color: #efefef;
    }
}